.login-main-container {
    margin-top: 20%;
}

.login-footer-button {
    width: fit-content;
    padding: 2rem;
    .button-content {
        font-size: 2rem;
        color: var(--chatstreet-white);
        text-decoration: underline;
    }
}