.register-footer-caption {
    font-size: 2rem;
    color: var(--chatstreet-white);
    text-align: center;
}

.register-footer-button {
    font-size: 2rem;
    color: var(--chatstreet-white);
    text-decoration: underline;
    text-align: center;
}