.information-dialog {
    position: relative;
    height: 2rem;
    width: 2rem;

    .information-dialog-text {
        position: absolute;
        display: none;
        bottom: 100%;
        right: -2rem;
        width: max-content;
        max-width: 50vw;
        min-height: 4rem;
        max-height: 7.5rem;
        padding: 1rem;
        padding-bottom: 2.5rem;
        margin-bottom: 1rem;
        clip-path: polygon(
            100% calc(100% - 1.5rem),
            100% 0%,
            0% 0%,
            0% calc(100% - 1.5rem),
            calc(100% - 5rem) calc(100% - 1.5rem),
            calc(100% - 3rem) 100%,
            calc(100% - 3rem) calc(100% - 1.5rem),
        );
        line-break: normal;
        color: var(--chatstreet-black);
        background-color: var(--chatstreet-white);
    }

    &:hover {
        .information-dialog-text {
            display: block;
        }  
    }
}