.input-button {
    width: 100%;
    height: fit-content;
    border: none;

    &:disabled {
        opacity: 50%;
    }

    &--confirm {
        color: var(--chatstreet-white);
        background-color: var(--chatstreet-green);
        border-radius: 0.5rem;

        &.input-button--disabled {
            background-color: var(--chatstreet-light-gray);
        }
    }

    &--decline {
        color: var(--chatstreet-white);
        background-color: var(--chatstreet-red);
        border-radius: 0.5rem;

        &.input-button--disabled {
            background-color: var(--chatstreet-light-gray);
        }
    }

    &--plain {
        background-color: transparent;
    }
}