.change-password-container {
    z-index: 0;
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 6rem 6rem 6rem;

    box-shadow: 0rem 0.5rem 2rem -0.5rem rgba(0,0,0,0.4);
    -webkit-box-shadow: 0rem 0.5rem 2rem -0.5rem rgba(0,0,0,0.4);
    -moz-box-shadow: 0rem 0.5rem 2rem -0.5rem rgba(0,0,0,0.4);
    background-color: var(--chatstreet-white);

    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.change-password-container-button {
    z-index: 1;
    position: absolute;
    width: 50%;
    height: 6rem;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 50%);

    box-shadow: 0rem 0.5rem 2rem -0.5rem rgba(0,0,0,0.4);
    -webkit-box-shadow: 0rem 0.5rem 2rem -0.5rem rgba(0,0,0,0.4);
    -moz-box-shadow: 0rem 0.5rem 2rem -0.5rem rgba(0,0,0,0.4);
    padding: 1rem;

    .button-content {
        height: 100%;
        padding: 1rem;
    }
}

.change-password-container-title {
    text-align: center;
}

.change-password-container-error {
    font-size: 1.5rem;
    text-align: center;
    &--visible {
        color: var(--chatstreet-red);
    }
    &--hidden {
        color: transparent;
    }
}