.register-container {
    position: relative;
    width: 100%;
    height: fit-content;
    background-color: var(--chatstreet-white);
    padding: 8rem 6rem 6rem;
    box-shadow: 0rem 0.5rem 2rem -0.5rem rgba(0,0,0,0.4);
    -webkit-box-shadow: 0rem 0.5rem 2rem -0.5rem rgba(0,0,0,0.4);
    -moz-box-shadow: 0rem 0.5rem 2rem -0.5rem rgba(0,0,0,0.4);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.register-container-button{
    z-index: 1;
    position: absolute;
    width: 50%;
    height: 6rem;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 50%);

    box-shadow: 0rem 0.5rem 2rem -0.5rem rgba(0,0,0,0.4);
    -webkit-box-shadow: 0rem 0.5rem 2rem -0.5rem rgba(0,0,0,0.4);
    -moz-box-shadow: 0rem 0.5rem 2rem -0.5rem rgba(0,0,0,0.4);

    .button-content {
        height: 100%;
        padding: 1rem;
    }
}

.register-container-profile{
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%);
    height: 10rem;
    width: 10rem;
    box-shadow: 0rem 0.5rem 2rem -0.5rem rgba(0,0,0,0.4);
    -webkit-box-shadow: 0rem 0.5rem 2rem -0.5rem rgba(0,0,0,0.4);
    -moz-box-shadow: 0rem 0.5rem 2rem -0.5rem rgba(0,0,0,0.4);
}

.register-container-error {
    height: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
    &--visible {
        color: var(--chatstreet-red);
    }
    &--hidden {
        color: transparent;
    }
}