.home-template {
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-template-header {
    position: fixed;
    min-width: 100%;
    top: 0;
    // TODO: Test remove
    background-color: white;
}

.home-template-main {
    flex-grow: 1;
    min-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    // TODO: Test remove
    background-color: gray;
    line-break: anywhere;
}

.home-template-footer {
    position: fixed;
    min-width: 100%;
    bottom: 0;
}