* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#app {
    height: 100vh;
    width: 100vw;
}

:root {
    --chatstreet-green: #19ac63;
    --chatstreet-light-green: #99ffcc;
    --chatstreet-white: #ffffff;
    --chatstreet-black: #333333;
    --chatstreet-dark-gray: #454545;
    --chatstreet-gray: #666666;
    --chatstreet-light-gray: #999999;
    --chatstreet-light-gray-2: #bbbbbb;
    --chatstreet-red: #ff1100;
    --chatstreet-light-red: #ffb3b2;
}